@model Student;
@{
    Layout = "_layout";
    ViewBag.Title = "Student Details";
}

<table class="table table-bordered border-bottom">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Department ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>@Model.ID</th>
            <th>@Model.Name</th>
            <th>@Model.Age</th>
            <th>@Model.Email</th>
            <th>@Model.Department?.ID</th>
            <th>
                <form class="mb-2" asp-action="UpdateStudent" asp-controller="Student" asp-route-id="@Model.ID">
                    <button type="submit" class="btn btn-outline-info">Update</button>
                </form>
                <form asp-action="DeleteStudent" asp-controller="Student" asp-route-id="@Model.ID">

                    <input type="submit" class="btn btn-outline-danger" onclick="return confirm('are you sure')" value="Delete" />
                </form>
            </th>

        </tr>
    </tbody>
</table>